# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MLflow artifacts and logs
mlruns/
mlartifacts/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Environment variable files
.env
*.env

# Pip dependency files
pip-log.txt
pip-delete-this-directory.txt